#Variable Name And DataType

In [1]:
var = 10;
print(var);

10

In [2]:
print(type(var))

<class 'int'>

In [3]:
varString ='Bunny'
print(type(varString));         # Show What Type Of Data You Entered

<class 'str'>

In [5]:
varString = "Bunny Data"
print(type(varString))

<class 'str'>

In [7]:
a,b,c,d= 10,"bunnty",1290,'bunny'
print((a,b,c,d))                    #PRINT MULTIPLE ASSIGNEMENT WITH IN SINGLE LIN

(10, 'bunnty', 1290, 'bunny')

In [8]:
i = 12
print(id(i)) # Print The Memory Location Where X is Stored

140722309797024

In [9]:
i2= "MintuData"
print(id(i2));

2503253760304

In [14]:
shu = 03
print(id(shu))

SyntaxError: invalid token (<ipython-input-14-9f3ae4b3f02f>, line 1)

In [20]:
a="Apple"
a[2:4]

'pl'

#example of PYTHON   LIST 

It Is Order Sequences Of Data Type

In [3]:
PythonList =  ["a",12,'apple']
print(PythonList)
print(PythonList[2]);
PythonList[2]="bunny"
print(PythonList)

['a', 12, 'apple']
apple
['a', 12, 'bunny']

In [4]:
# EXAMPLE OF TUPPLE

In [5]:
a = (1,"a")
print(a)

(1, 'a')

In [6]:
a = {10,"shushant",10,"Bunny","shushant"}
print(a)

{10, 'shushant', 'Bunny'}

In [7]:
print(a[2])

TypeError: 'set' object is not subscriptable